<div class="small-12 small-home">
  <%= link_to 'All Attractions', attractions_path %>
  <hr>
  <%= link_to 'Nearby Attractions', nearby_path %>
</div>
<a href="http://www.seattleattractions.com/"> < Back to Seattle Attractions Website</a>