<div class="small-12 small-home">
  <%= link_to 'All Attractions', attractions_path, 'data-no-turbolink' => true %>
  <hr>
  <%= link_to 'Nearby Attractions', nearby_path, 'data-no-turbolink' => true %>
</div>
<a href="http://www.seattleattractions.com/"> < Back to Seattle Attractions Website</a>