<div class="small-12 small-home mobile-paragraph">
  <%= link_to 'All Attractions', attractions_path, 'data-no-turbolink' => true %>
  <hr>
  <%= link_to 'Nearby Attractions', nearby_path, 'data-no-turbolink' => true %>
</div>

<p class="mobile-paragraph">
 <%= image_tag("seattlebrochure_small.png", :alt => "Seattle Premier Attractions Brochure", :class => "brochure") %>
 <br>Pick up this guide for coupons, maps and more information on Premier Attractions.
</p><br>
<a class="mobile-paragraph" href="http://www.seattleattractions.com/"> < Back to Seattle Attractions Website</a>