<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYsbaTUCmS5U25KSWi21-C-Xgk5K7LwIU">
</script>
<div id="map" class="google-maps" style="height:75%">
<script type="text/javascript">
$(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      detect_location: true,
      center_on_user: true
    },
    internal: {
      id: 'map'}
    },
  function(){
      markers = handler.addMarkers(<%= raw @markers_hash %>, {draggable: false});
      bindAttrMarkerPairs(handler, markers);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(13);
      });
    });
</script>
</div>