<div id="map" class="google-maps" style="height:75%">
<script type="text/javascript">
$(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      detect_location: true,
      center_on_user: true
    },
    internal: {
      id: 'map'}
    },
  function(){
      markers = handler.addMarkers(<%= raw @markers_hash %>, {draggable: false});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(13);
      })
    });
</script>
<a href="http://www.seattleattractions.com/"> < Back to Seattle Attractions Website</a>
</div>