@import "foundation_and_overrides";
@import "attractions";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 */


#attraction_sidebar p {
  padding-left: .5em;
}

#attraction_sidebar h5 {
  padding-left: .5em;
}

.top-bar {
  height: 120px;
}

.top-bar .name {
  background-color: #000000;
}

.brochure {
  float: right;
  padding-right: 50px;
  margin: 10px;
}

.small-home {
  background-color: #333333;
}

.small-home a {
  background-color: #333333;
}

.small-home ul, li {
  background-color: #333333;
  padding: 10px;
}

.small-home hr {
  border-top: 2px solid #ffffff;
  padding: 0px;
}

.mobile-paragraph {
  padding: 10px;
}

#mobile-show {
  padding-left: 1em;
}

.infowindow ul {
  display: inline-block;
}

.infowindow li {
  background-color: #ffffff;
  padding: 0px;
}

.infowindow p {
  padding-top: .5em;
}

.infowindow {
  width: 30em;
}

#map img {
  max-width: none;
}

#map label {
  width: auto; display:inline;
}

#mobile_show_map img {
  max-width: none;
}

#mobile_show_map label {
  width: auto; display:inline;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

