#map {
 width: 100%;
}

#attraction_sidebar {
  overflow-y: auto;
  height:100vh;
  background-color: #ffffff;
}

#attraction_sidebar li {
  display: inline;
}

#attraction_sidebar h5 {
  display: inline;
}

#attraction_sidebar p {
  font-size: .9rem;
  color: #999798;
}

#attraction_sidebar a {
  font-size: .9rem;
  color: #999798;
}

#attraction_sidebar a:active {
  font-size: .9rem;
  color: #999798;
}

#attraction_sidebar a:hover {
  font-size: .9rem;
  color: #5E5E5E;
}

#attraction_sidebar a:visited {
  font-size: .9rem;
  color: #5E5E5E;
}

.selected {
  background-color: #fafafa;
}

.selected h5 {
  font-weight: bold;
}

.google-maps {
        position: relative;
        padding-bottom: 90%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
