#map {
 width: 100%;
}

#attraction_sidebar {
  overflow-y: auto;
  height: 90vh;
}

.google-maps {
        position: relative;
        padding-bottom: 90%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
