// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Maps defaults


#map {
 width: 100%;
 height: 90vh;
}

#map_space {
  width: 100%;
}

/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto; display:inline;
}

.sidebar {
  overflow-y: auto;
  height: 90vh;
}

.header {
  height: 10vh;
  width: 100vw;
}
