<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box round <%= flash_class(name) %>">
      <%= content_tag :div, msg %>
      <a href="#" class="close alert-box-close">&times;</a>
    </div>
  <% end %>
<% end %>
