<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="http://www.seattleattractions.com/"><%= image_tag("PSAC_logo_small.jpg") %></a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section hide-for-small-only">

    <ul class="left">
      <li><%= link_to "Map", root_path %></li>
      <li><a href="http://www.seattleattractions.com/">Seattle Attractions Website</a></li>
    </ul>

  <% if admin_signed_in? %>
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
  </section>
  <% end %>
</nav>