<div class="mobile-paragraph">
<p>
 <%= image_tag("seattlebrochure_small.png", :alt => "Seattle Premier Attractions Brochure", :class => "brochure") %>
 <br>Pick up this guide for coupons, maps and more information on Premier Attractions.
</p><br>
</div>

<div class="small-home">
<ul class="no-bullet">
  <% @attractions.each do |attraction| %>
    <li><%= link_to attraction.name, attraction %></li>
    <hr>
  <% end %>
  <li><%= link_to 'Nearby Attractions', nearby_path, 'data-no-turbolink' => true %></li>
</ul>
</div>

<a href="http://www.seattleattractions.com/"> < Back to Seattle Attractions Website</a>