<ul class="small-home no-bullet">
  <% @attractions.each do |attraction| %>
    <li><%= link_to attraction.name, attraction %></li>
    <hr>
  <% end %>
  <%= link_to 'Nearby Attractions', nearby_path, 'data-no-turbolink' => true %>
</ul>
<a href="http://www.seattleattractions.com/"> < Back to Seattle Attractions Website</a>