<% @fields.each do |field| %>
  <% if field == :location_id %>
    <p>
      <strong>Location:</strong>
      <%= @attraction.location.name %>
    </p>
  <% else %>
    <p>
      <strong><%= field.to_s.capitalize %>:</strong>
      <%= @attraction.public_send(field) %>
    </p>
  <% end %>
<% end %>
